<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1-IM Klasseliste | Hjem</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Saira:300,400,500&display=swap" rel="stylesheet">
</head>
<body>
    
<div class="topsection">

    <h1 class="topsection-title">1IM-Klasseliste</h1>

</div>

<div class="settingsectionHome">


    <h1 class="settingsectionHome-title">Hva vil du se idag da?</h1>

    <a href="/klasseliste" class="settingsectionHome-classBtn btn">Klasseliste</a>

    <a href="/api" class="settingsectionHome-apiBtn btn">API</a>

</div>

</body>
</html>